<html>
    <head>

    </head>

    <body>

        <form method="POST" action="/user">

            Name: <input type="text" placeholder="Name" name="name">

            Gender: <input type="text" placeholder="Gender" name="gender">
            
            Date Of Birth: <input type="text" placeholder="Name" name="dob">
            
            Phone No.: <input type="number" placeholder="Phone" name="phone">
            
            Email: <input type="email" placeholder="email" name="email">
            
            Gender: <input type="text" placeholder="Gender" name="gender">
            
            Current Address: <input type="text" placeholder="address" name="cur_add">
            
            Permanent Address: <input type="text" placeholder="Name" name="per_add">

            College: <input type="text" placeholder="College" name="college">

            Branch: <input type="text" placeholder="Branch" name="branch">
            
        </form>
        
    </body>
</html>